.container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.searchbar {
    width: 40%;
}
